# Node dependencies
frontend/node_modules
frontend/dist
frontend/.cache

# Python caches
backend/__pycache__
*.pyc
*.pyo

# Git
.git
.gitignore

# Environment files
*.env

# VSCode
.vscode

# OS files
.DS_Store
Thumbs.db
