.main-container {
    text-align: center;
    font-family: Arial, sans-serif;
}

.main-content{
padding: 4rem 2rem;
background: #f5f5f5f5;
}

.cta-button{
  color: white;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #dd5295;
  color: #000;
  transition: background-color 0.3s;
}

.footer {
  background-color: #282c34;
  color: white;
  padding: 1rem;
  margin-top: 2rem;
}

