.main-container {
    text-align: center;
    font-family: Arial, sans-serif;
}

.main-content{
padding: 4rem 2rem;
background: #f5f5f5f5;
}

.cta-button{
  color: white;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #dd5295;
  color: #000;
  transition: background-color 0.3s;
}

.footer {
  background-color: #282c34;
  color: white;
  padding: 1rem;
  margin-top: 2rem;
}

.cta-button nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

.cta-button nav ul li a:hover {
  color: #282c34;
}


body-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 4rem 6rem;
  max-width: 1200px;
}

.text-content {
  flex: 1;
  
}

.text-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  padding: 4rem 2rem;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image-content img {
  width: 100%;
  max-width: 450px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}