.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
}

.login-form {
  padding: 5%;
  overflow: auto;
  border-radius: 25%;
  background-color: rgba(255, 255, 255, .1);
  border-style: groove;
  border-width: thick;
}

.form {
  display: flex;
  flex-direction: column;
}

.login-title {
  display: flex;
  justify-content: center;
  font-style:oblique;
  color: #dd5295;
  font-weight: bolder;
}

.user-input, .email-input, .password-input {
  padding: 5px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #dd5295;
}

.submit-wrapper {
  display: flex;
  justify-content: center;
}

.submit {
  padding: 8px;
  background-color: gainsboro;
  width: 50%;
}

.submit:hover {
  background-color: gray;
  color: black;
  cursor: pointer;
}

