html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app {
  height: 100%;
  width: 100%;
  font-family:Arial, Helvetica, sans-serif;
}